<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${product.title}]] &ndash; Сельмаг</title>
</head>
<body>
<a th:href="@{/catalogue/products/list}">К списку товар</a>
<h1 th:text="${product.title}"></h1>
<ul>
    <li><strong>ID</strong><span th:text="${product.id}"></span></li>
    <li><strong>Название</strong><span th:text="${product.title}"></span></li>
    <li><strong>Описание</strong><span th:text="${product.details}"></span></li>
</ul>
<form th:action="@{/catalogue/products/{productId}/remove(productId=${product.id})}">
    <button>удалить</button>
</form><br>
<form th:action="@{/catalogue/products/{productId}/edit(productId=${product.id})}">
    <button>Изменить</button>
</form>
</body>
</html>